@media (prefers-color-scheme: light) {

  body  {
    --body-background-color: #fff;
    --item-divider-color: #bfbfbf;
    --color: #000;

    --tag-background-color: #d6e7ef;
    --tag-color: #484848;
    --tag-match-background-color: #1a80a7;

    --button-background-color-hover: #fbece9;

    --h3-color: #000;

    --link-color: #b93924;

    --search-border-color: #969694;

    --btn-color: #b93924;
    --btn-border-color: #b93924;
  }

  a.demo.code{
    background-image: url(../img/icon-code-light.svg);
  }

}

@media (prefers-color-scheme: dark) {

  body  {
    --body-background-color: #252525;
    --item-divider-color: #696969;
    --color: #fff;

    --tag-background-color: #435c67;
    --tag-color: #dcddde;
    --tag-match-background-color: #9c3a51;

    --button-background-color-hover: #2d0701;

    --h3-color: #fff;

    --link-color: #d46f5f;

    --search-border-color: #d8d8d8;

    --btn-color: #d46f5f;
    --btn-border-color: #d46f5f;
  }

  a.demo.code{
    background-image: url(../img/icon-code-dark.svg);
  }

}
