body  {
  --button-background-color: hsl(218, 43%, 47%);
  --button-background-color-hover: hsl(218, 43%, 52%);
  --header-button-color: hsl(0, 0%, 15%);
  --header-button-background-color: hsl(0, 0%, 100%);
  --page-heading-color: hsl(0, 0%, 100%);
  --page-heading-color-shadow: hsla(211, 18%, 63%, 0.529);
  --item-img-color-shadow: hsla(0, 0%, 8%, 0.302);
  --header-avatar-color-shadow: hsla(0, 0%, 8%, 0.302);
}

@media (prefers-color-scheme: light) {

  body  {
    --body-background-color: hsl(0, 0%, 100%);
    --color: hsl(0, 0%, 0%);

    --item-divider-color: hsl(0, 0%, 75%);
    --item-description-color: hsl(0, 0%, 13%);

    --tag-background-color: hsl(199, 44%, 89%);
    --tag-background-color-hover: hsl(199, 44%, 92%);
    --tag-color: hsl(0, 0%, 28%);
    --tag-match-background-color: hsl(33, 100%, 69%);
    --tag-match-background-color-hover: hsl(33, 100%, 74%);

    --h3-color: hsl(0, 0%, 0%);

    --link-color: hsl(218, 100%, 35%);

    --filter-border-color: hsl(0, 0%, 41%);

    --button-color: hsl(0, 0%, 100%);
    --button2-color: hsl(0, 0%, 41%);
    --button2-border-color: hsl(0, 0%, 41%);
    --button2-background-color: transparent;
    --button2-background-color-hover: hsl(217, 25%, 94%);
  }

}

@media (prefers-color-scheme: dark) {

  body  {
    --body-background-color: hsl(0, 0%, 15%);
    --color: hsl(0, 0%, 100%);

    --item-divider-color: hsl(0, 0%, 31%);
    --item-description-color: hsl(0, 0%, 74%);

    --tag-background-color: hsl(206, 12%, 27%);
    --tag-background-color-hover: hsl(206, 12%, 33%);
    --tag-color: hsl(0 0% 90%);
    --tag-match-background-color: hsl(346, 49%, 50%);
    --tag-match-background-color-hover: hsl(346, 49%, 55%);

    --h3-color: hsl(0, 0%, 100%);

    --link-color: hsl(218, 93%, 76%);

    --filter-border-color: hsl(0, 0%, 74%);

    --button-color: hsl(0, 0%, 100%);
    --button2-color: hsl(0, 0%, 77%);
    --button2-border-color: hsl(0, 0%, 74%);
    --button2-background-color: hsla(0, 0%, 74%, 0.07);
    --button2-background-color-hover: hsla(0, 0%, 74%, 0.15);
  }

}