body  {
  --item-title-font-size: 17px;
  --item-font-size: 14px;
}

@media (prefers-color-scheme: light) {

  body  {
    --body-background-color: #fff;
    --color: #000;

    --item-divider-color: #bfbfbf;
    --item-description-color: #222;

    --tag-background-color: #d6e7ef;
    --tag-color: #484848;
    --tag-match-background-color: #ffb961;

    --h3-color: #000;

    --link-color: #0041b5;

    --search-border-color: #696969;

    --button-color: #fff;
    --button-background-color: #4469ab;
    --button2-color: #696969;
    --button2-border-color: #696969;
  }

  a.button.code{
    background-image: url(../img/icon-code-light.svg);
  }

}

@media (prefers-color-scheme: dark) {

  body  {
    --body-background-color: #252525;
    --color: #fff;

    --item-divider-color: #505050;
    --item-description-color: #bdbdbd;

    --tag-background-color: #3c454c;
    --tag-color: #dcddde;
    --tag-match-background-color: #bd405e;

    --h3-color: #fff;

    --link-color: #89b2fb;

    --search-border-color: #bdbdbd;

    --button-color: #fff;
    --button-background-color: #4469ab;
    --button2-color: #bdbdbd;
    --button2-border-color: #bdbdbd;
  }

  a.button.code{
    background-image: url(../img/icon-code-dark.svg);
  }

}
