body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: hsl(0, 0%, 25%);
  display: flex;
  align-items: center;
  justify-content: center;
}

object {
  display: inline-block;
  background-color: hsl(0, 0%, 25%);
}
