body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #3f3f3f;
  display: flex;
  align-items: center;
  justify-content: center;
}

object {
  display: inline-block;
  background-color: #3f3f3f;
}
