@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i&display=swap');
@import url("color-scheme.css");

* {
	box-sizing: border-box;
  outline: none;
}

body {
  --item-heading-font-size: 17px;
  --item-font-size: 15px;
  --button-padding-vertical: 10px;
  --article-item-gap: 16px;
  --padding-h: 50px;
  --figure-max-width: unset;
  --figure-max-height: 212px;
  --section-gap: 40px;
  overflow-y: scroll;
  background-color: var(--body-background-color);
  color: var(--color);
  display: grid;
  gap: var(--section-gap);
}

a svg {
  margin-right: 6px;
}

input {
  color: var(--color);
  user-select: none;
}

html, body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	min-width: 280px;
}

p {
  margin: 0 0 13px 0;
}

ul {
	padding-left: 30px;
  margin: 8px 0;
  list-style: none;
}

button {
  /* Reset */
  background-color: transparent;
  border: none;
}

.hidden {
  display: none !important;
}

::placeholder {
  opacity: .6; /* Reset Firefox */
}

header,
section {
  display: grid;
  justify-content: center;
  font-weight: 100;
  font-size: 17px;
  grid-template-columns: minmax(0, 875px);
}

section:last-of-type {
  padding-bottom: var(--section-gap);
}

header > *,
section > * {
  padding: 0 var(--padding-h);
}

section > *:last-child {
  margin-bottom: 0px;
}

search {
    margin: 0 0 var(--section-gap) 0;
}

search .result {
    padding: 9px;
    background-color: var(--tag-match-background-color);
    border-radius: 3px;
    padding: 3px 5px 4px 5px;
    width: 250px;
    margin-top: 4px;
  }

  search .filter {
    display: flex;
    align-items: stretch;
    font-size: 15px;
    width: 250px;
    border: solid 1px var(--filter-border-color);
    border-radius: 4px;
    overflow: hidden;
    color: var(--button2-color);
  }

  .filter .icon-filter {
    display: flex;
    align-items: center;
    padding: 0 6px;
  }

  .filter input {
    border: 0px;
    padding: 8px 8px 9px 0;
    background-color: transparent;
    font-size: 15px;
    width: 100%;
  }

  .filter .button-clear {
    display: none;
    align-items: center;
    padding: 0 var(--button-padding-vertical);
    cursor: pointer;
    color: var(--button2-color);
  }

  .filter.found .button-clear {
    display: flex;
  }

li::before {
  content: "•";
  color: var(--button-background-color);
  font-size: 130%;
  vertical-align: middle;
  font-weight: bold;
  padding-right: 9px;
  margin-left: -20px;
}

li {
  line-height: 140%;
  margin-bottom: 10px;
}

a, a:visited {
  color: var(--link-color);
  transition: background-color .2s, color .2s;
}

section.articles {
  display: none;
}

section.portfolio {
  gap: var(--section-gap);
  min-height: 200px; /* Maintain empty space if the filter has zero results */
}

header {
  position: relative;
  color: white;
  padding: var(--section-gap) 0;
  background-image: url('../img/header.jpg');
  background-size: cover;
  background-position-y: 67%;
}

  header .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
  }

  header .links a {
    display: inline-flex;
    text-decoration: none;
    padding: 6px var(--button-padding-vertical) 7px;
    color: var(--header-button-color);
    transition: background-color .2s;
    border-radius: 3px;
    background-color: var(--header-button-background-color);
    margin: 4px;
    font-weight: normal;
    font-size: 14px;
  }

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  box-shadow: 7px 11px 9px -11px var(--header-avatar-color-shadow);
  margin: 0 15px 15px 0;
}

.avatar-wrapper {
  display: flex;
  align-content: center;
  align-items: center;
}

h1 {
  font-size: 32px;
 	font-weight: 400;
  margin: 0 0 15px 0;
  color: var(--page-heading-color);
  text-shadow: 0px 1px 5px var(--page-heading-shadow);
}

h2 {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 3px 0;
}

h3 {
  font-size: 22px;
 	font-weight: 400;
  margin: 0 0 15px 0;
  color: var(--h3-color);
}

.no-line-break {
  white-space: nowrap;
}

article {
  display: grid;
  grid-template-columns: 320px auto;
  grid-template-rows: auto;
  column-gap: 20px;
  padding-top: 20px;
  border-top: 1px solid var(--item-divider-color);
  font-size: var(--item-font-size);
  margin: 0 var(--padding-h);
  padding-left: 0;
  padding-right: 0;
}

  article h4 {
    font-size: var(--item-heading-font-size);
    font-weight: 600;
    margin: -3px 0 0 0;
    padding: 0 0 5px 0;
  }

  article .description {
    color: var(--item-description-color);
    font-weight: 100;
    margin-bottom: var(--article-item-gap);
    font-size: 16px;
  }

  article .tags {
    margin-bottom: calc( var(--article-item-gap) - 4px);
  }

    article .tags .tag {
      font-size: 13px;
      font-weight: normal;
      color: var(--tag-color);
      padding: 3px 7px 4px 7px;
      border-radius: 3px;
      background-color: var(--tag-background-color);
      margin: 0px 4px 4px 0;
      white-space: nowrap;
      display: inline-block;
    }

    article .tags .tag.found {
      box-shadow: inset 0 -10px 0px -7px var(--tag-match-background-color);
    }

    article .content p {
      margin-bottom: 8px;
    }

  article .links {
    display: flex; /* Align buttons vertically */
  }

    article .links .button {
      color: var(--button-color);
      border: solid 1px var(--button-background-color);
      background-color: var(--button-background-color);
      border-radius: 3px;
      padding: 4px var(--button-padding-vertical) 5px;
      display: inline-flex;
      align-items: center;
      margin: 0 8px 8px 0;
      width: max-content;
      transition: background-color .2s, color .2s, border-color .2s;
      text-decoration: none;
      user-select: none;
    }

    article .links .button:hover {
      background-color: var(--button-background-color-hover);
      border-color: var(--button-background-color-hover);
    }

    article .links .button.code {
      background-color: var(--button2-background-color);
      color: var(--button2-color);
      border-color: var(--button2-border-color);
    }

    article .links .button.code:hover {
      background-color: var(--button2-background-color-hover);
    }

  article figure {
    margin: 0; /* Reset Chrome */
    grid-column: 1;
    grid-row: span 4;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 7px 11px 9px -7px var(--item-figure-color-shadow);
    max-width: var(--figure-max-width);
    max-height: var(--figure-max-height);
    border-radius: 4px;
    user-select: none;
    display: flex;
    align-content: center;
  }

    article figure img {
      width: 100%;
      align-self: start;
    }

    article figure img.align-center {
      align-self: center;
    }

    article figure img.align-end {
      align-self: end;
    }

/*************************************************/
/*************************************************/
@media only screen and (max-width: 900px) {

  body {
    --figure-max-height: 173px;
  }

	article {
		grid-template-columns: 260px auto;
	}

}

/*************************************************/
/*************************************************/
@media only screen and (max-width: 800px) {

  body {
    --padding-h: 40px;
  }

  .avatar {
    width: 100px;
    height: 100px;
  }

}

/*************************************************/
/*************************************************/
@media only screen and (max-width: 700px) {

  body{
    --padding-h: 30px;
    --figure-max-width: 370px;
    --figure-max-height: 150px;
  }

	article {
		grid-template-columns: auto;
	}

	article figure {
		grid-row: 1;
		margin-bottom: 24px;
  }

  article .content {
		grid-column: 1;
  }

}

/*************************************************/
/*************************************************/
@media only screen and (max-width: 400px) {

  body{
    --padding-h: 20px;
  }

}