Options -Indexes

RewriteEngine On

# force https
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

# redirect to one-page apps
RewriteRule ^cookbook/(.*)$ portfolio/cookbook/$1 [L]
RewriteRule ^mario/(.*)$ portfolio/mario/$1 [L]
RewriteRule ^tap-n-draw/(.*)$ portfolio/tap-n-draw/$1 [L]
RewriteRule ^find-a-word/(.*)$ portfolio/find-a-word/$1 [L]
RewriteRule ^pokemon/(.*)$ portfolio/pokemon/$1 [L]
RewriteRule ^countdown/(.*)$ portfolio/countdown/$1 [L]
RewriteRule ^mr-orange/(.*)$ portfolio/mr-orange/$1 [L]
RewriteRule ^animal-habitats/(.*)$ portfolio/animal-habitats/$1 [L]
RewriteRule ^uni-graphic-design/(.*)$ portfolio/uni-graphic-design/$1 [L]
RewriteRule ^soft-toy-storage-manual/(.*)$ portfolio/soft-toy-storage-manual/$1 [L]
RewriteRule ^super-worm/(.*)$ portfolio/super-worm/$1 [L]
RewriteRule ^cod2-profile-editor/(.*)$ portfolio/cod2-profile-editor/$1 [L]
