---
layout: null
---

<!DOCTYPE html>
<html lang="en">
  <head>

    {% include head.html %}

    <base target="_blank">

    <link rel="stylesheet" type="text/css" href="css/index.css">

    <script src="js/index.js"></script>

    <script>
      window.addEventListener('DOMContentLoaded', () => {
        initalise();
      });
    </script>

  </head>

  <body>

    <div class="header-wrapper title">
      <div class="header">

        <h1 class="title">CrazyTim</h1>

        <h2>Full Stack Software Developer / Designer</h2>

        <h2>Melbourne Australia</h2>

        <div class="links">

          <div><a href="mailto:impdeveloper@gmail.com">
            <svg class="icon-email" viewBox="0 0 28 28"><title>Icon: @ symbol</title><text x="" y="20" font-size="28px" style="font-size:28px;font-family:Arial">@</text></svg><span>impdeveloper@gmail.com</span>
          </a></div>

          <div><a href="https://stackoverflow.com/users/737393/crazytim">
            <svg class="icon-so" viewBox="0 0 23.6 28"><title>Icon: Stack Overflow</title><path d="M20 25.5V18h2.5v10H0V18h2.5v7.5"/><path d="M5.2 17.3l12.2 2.6.5-2.4-12.1-2.6-.6 2.4zm1.7-5.8l11.3 5.3 1.1-2.3L7.9 9.2l-1 2.3zM10 5.9l9.6 8 1.6-1.9-9.6-8L10 5.9zM16.2 0l-2 1.5 7.5 10 2-1.5-7.5-10zM5 23h12.5v-2.5H5V23z"/></svg><span>Stack Overflow</span>
          </a></div>

          <div><a href="https://github.com/CrazyTim">
            <svg class="icon-git" viewBox="0 0 28 28"><title>Icon: GitHub</title><path d="M13.97 1.57c-7.03 0-12.733 5.703-12.733 12.74 0 5.622 3.636 10.393 8.717 12.084.637.13.87-.277.87-.615 0-.302-.013-1.103-.02-2.165-3.54.77-4.29-1.707-4.29-1.707-.578-1.473-1.413-1.863-1.413-1.863-1.154-.79.09-.775.09-.775 1.276.104 1.96 1.316 1.96 1.312 1.135 1.936 2.99 1.393 3.712 1.06.116-.823.445-1.384.81-1.704-2.83-.32-5.802-1.414-5.802-6.293 0-1.39.496-2.527 1.312-3.418-.132-.322-.57-1.617.123-3.37 0 0 1.07-.343 3.508 1.305 1.016-.282 2.105-.424 3.188-.43 1.082 0 2.167.156 3.198.44 2.43-1.65 3.498-1.307 3.498-1.307.695 1.754.258 3.043.13 3.37.815.903 1.314 2.038 1.314 3.43 0 4.893-2.978 5.97-5.814 6.286.458.388.876 1.16.876 2.358 0 1.703-.016 3.076-.016 3.482 0 .334.232.748.877.61 5.056-1.687 8.7-6.456 8.7-12.08-.055-7.058-5.75-12.757-12.792-12.75z"/></svg><span>Github</span>
          </a></div>

        </div>

      </div>
    </div>

    <div class="header-wrapper about-me">
      <div class="header">

        <h3>About Me</h3>

        <ul class="overview">
          <li>I love designing and <span class="no-line-break">building things</span></li>
          <li>Interested in .NET Core, Javascript, JSON, React, GraphQL, SQL, Node.js</li>
          <li>Enjoy working in a team, contributing, learning, and <span class="no-line-break">sharing knowledge</span></li>
          <li>"You don't find the happy life, you make it."</li>
        </ul>

      </div>
    </div>

    <div class="header-wrapper articles">
      <div class="header">

        <h3>Articles</h3>

        <ul class="overview">
          {% for article in site.articles %}
            <li><a href="{{ article.url }}">{{ article.title }}</a></li>
          {% endfor %}
        </ul>

      </div>
    </div>

    <div class="page">

      <h3>My Projects</h3>

      <div class="search-wrapper">
        <div class="search">
          <div><input type="text" placeholder="Search tags..." autocapitalize="none"></input></div>
          <div class="btn-clear">
            <svg viewBox="0 0 8 8" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path transform="translate(-8,-8)" style="fill:#7f7f7f;" d="M12 11.293l10.293-10.293.707.707-10.293 10.293 10.293 10.293-.707.707-10.293-10.293-10.293 10.293-.707-.707 10.293-10.293-10.293-10.293.707-.707 10.293 10.293z"/></svg>
          </div>
        </div>
        <div class="result hidden">Nothing found.</div>
      </div>

      <div class="item">
        <div class="img">
          <img src="img/item-img-13.jpg"/>
        </div>
        <div>
          <div class="title">Job Scheduler - Buildsafe Australia</div>
          <div class="description">Scheduling app (2020)</div>
          <div class="tags">vb.net,c#,winforms,ms-sql,javascript,html,css,json,php,filemaker,google-directions-api,ui-design,dev-ops</div>
          <div class="content">
            <p>I was the creator, designer, and lead programmer of an app that helped the company prepare and schedule work. It scaled well (100+ vehicles and 13+ depots) and was used by almost everyone in the company.</p>
            <p>I was responsible for maintenance, talking with stakeholders to scope new features, integrating with other systems, testing, etc.</p>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="img">
          <img src="https://crazytim.github.io/tic-tac-toe/img/repo-thumbnail.jpg"/>
        </div>
        <div>
          <div class="title">Tic Tac Toe</div>
          <div class="description">Web app (2019)</div>
          <div class="tags">create-react-app,javascript,css,html,node.js,svg,illustrator</div>
          <div class="content">
            <p>Learning React while adding fun features, such as themes, and a dynamic number of rows/columns :).</p>
            <a class="demo" href="https://crazytim.github.io/tic-tac-toe">play game</a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="img">
          <img src="img/item-img-16.jpg"/>
        </div>
        <div>
          <div class="title">FileMaker ODBC Debugger</div>
          <div class="description">SQL query tool (2018)</div>
          <div class="tags">vb.net,winforms,sql,filemaker</div>
          <div class="content">
            <p>Write and test SQL queries for a FileMaker database.</p>
            <p>FileMaker's ODBC driver has its own flavour of SQL syntax, as well as some lesser-known quirks. This lightweight tool helps you write and test SQL queries to a FileMaker database while handling some of these quirks. It also warns you about things to avoid, and supports syntax highlighting for all of FileMakers' reserved keywords.</p>
            <a class="demo" href="https://github.com/CrazyTim/fm-odbc-debugger">see code</a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="img">
          <img src="img/item-img-11.jpg"/>
        </div>
        <div>
          <div class="title">Countdown</div>
          <div class="description">3D web animation (2018)</div>
          <div class="tags">javascript,three.js,tween.js</div>
          <div class="content">
            <p>A replication of the countdown animation in the film <a href="https://www.rottentomatoes.com/m/mission_to_mars/">Mission to Mars</a>.</p>
            <p>I love the design of this binary timer. The rings appear to be resting on a translucent surface, which gives a sense of depth as they rotate through it. I used many layers of transparency beneath the rings to create this effect.</p>
            <p>Also it was challenging to position the camera and perspective the same as the movie. I had fun referencing the movie and learnt a lot.</p>
            <a class="demo" href="https://crazytim.github.io/countdown/">play animation</a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="img">
          <img src="img/item-img-01.jpg"/>
        </div>
        <div>
          <div class="title">Mario Soundboard</div>
          <div class="description">Sound-effects web app (2018)</div>
          <div class="tags">javascript,html,css,web-audio,audio-editing</div>
          <div class="content">
            <p>A fun unofficial sound-effects app. I made this so my kids could have sound-effects and music when playing the <a href="https://www.kotaku.com.au/2017/06/mario-themed-monopoly-gamerhas-power-ups-and-boss-battles">Monopoly Gamer board game</a>. Collecting coins from the bank has never sounded so good!</p>
            <p>Its a small showcase of the amazing sounds and icons of the Mario franchise.</p>
            <a class="demo" href="https://crazytim.github.io/mario-soundboard/">open app</a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="img">
          <img src="img/item-img-12.jpg"/>
        </div>
        <div>
          <div class="title">Tap-and-draw</div>
          <div class="description">Pictionary web app (2017)</div>
          <div class="tags">javascript,html,css,ui-design</div>
          <div class="content">
            <p>I like pictionary, but its never convenient to lug a board game box around, so I made this simple app.</p>
            <a class="demo" href="https://crazytim.github.io/tap-and-draw/">open app</a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="img">
          <img src="img/item-img-09.jpg"/>
        </div>
        <div>
          <div class="title">Puzzle Pad</div>
          <div class="description">Web app (2017)</div>
          <div class="tags">javascript,html,css,canvas,ui-design</div>
          <div class="content">
            <p>A fun python find-a-word algorithm that I wrote in Uni eventually evolved into a web app with a huge scope. The idea was to make a utility that could generate printable puzzles. It will probably never be finished!</p>
            <p>Another idea was to make an Adobe Illustrator/InDesign plugin.</p>
            <a class="demo" href="https://crazytim.github.io/puzzle-pad/">open app</a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="img">
          <img src="img/item-img-03.jpg"/>
        </div>
        <div>
          <div class="title">Soft Toy Storage</div>
          <div class="description">Website & branding (2015)</div>
          <div class="tags">javascript,html,css,paypal,google-analytics</div>
          <div class="content">
            <p>I did just about everything on this low-budget project: website design, logo design, icons and graphics, copywriting, image gallery, and assembly instructions.</p>
            <p>Also included was a sales heat map, and an automated Paypal payment plan.</p>
            <a class="demo" href="https://softtoystorage.com.au">visit softtoystorage.com.au</a>
            <a class="demo" href="soft-toy-storage-manual/">see assembly instructions</a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="img">
          <img src="img/item-img-04.jpg"/>
        </div>
        <div>
          <div class="title">Alternate Dwellings</div>
          <div class="description">Website (2014)</div>
          <div class="tags">javascript,html,css,illustrator,photoshop</div>
          <div class="content">
            <p>Work included website design, logo redesign, ad design, copywriting, photo editing, converting builder's plans into graphics, and keeping photos and pricing up-to-date. </p>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="img">
          <img src="img/item-img-02.jpg"/>
        </div>
        <div>
          <div class="title">My Cookbook</div>
          <div class="description">Prototype iOS web app (2012)</div>
          <div class="tags">javascript,mysql,json,jquery,svg,ui-design</div>
          <div class="content">
            <p>My final Uni project. Focus was mainly on interface design, getting it to work on ios (early web app days), and the client-server architecture.</p>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="img">
          <img src="img/item-img-15.jpg"/>
        </div>
        <div>
          <div class="title">Uni Graphic Design Projects</div>
          <div class="description">(2011)</div>
          <div class="tags">illustrator,photoshop,in-design,typography,logo-design</div>
          <div class="content">
            <p>Various things I made in Uni.</p>
            <a class="demo" href="uni-graphic-design/">see samples</a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="img">
          <img src="img/item-img-07.jpg"/>
        </div>
        <div>
          <div class="title">COD2 Profile Editor</div>
          <div class="description">Prototype Windows app (2006)</div>
          <div class="tags">vb6,game-mod,icon-design</div>
          <div class="content">
            <p>An app I made to help me make custom key bindings for <span class="no-line-break"><a href="https://en.wikipedia.org/wiki/Call_of_Duty_2">Call Of Duty 2</a></span>.</p>
            <p>It worked, but mostly looked pretty. The code was rubbish and I didn't know how to implement any of the advanced features I had planned. I received suggestions for improvement but it was never finished. It was a nice idea.</p>
            <a class="demo" href="cod2-profile-editor/">see screenshots</a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="img">
          <img src="img/item-img-10.jpg"/>
        </div>
        <div>
          <div class="title">Voyager Episode Archive</div>
          <div class="description">Prototype Flash app (2003)</div>
          <div class="tags">actionscript,animation,data-collection,data-entry,research,interface-design,audio</div>
          <div class="content">
            <p>A functional Start Trek <a href="https://en.wikipedia.org/wiki/LCARS">LCARS</a> touch interface with sounds.</p>
            <p>I examined many examples from the show to learn the design language. I wanted interactions to be functional while at the same time fluid and fun to interact with.</p>
            </ul>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="img">
          <img src="img/item-img-06.jpg"/>
        </div>
        <div>
          <div class="title">Super Worm</div>
          <div class="description">Windows game (2002)</div>
          <div class="tags">vb6,winforms,audio,sprites</div>
          <div class="content">
            <p>8 levels, 3 different fruit, and 4 power-ups. I planned to make a level editor but never got around to it. And I can't remember what happens when you get past the last level... probably nothing.</p>
            <a class="demo" href="super-worm/">see screenshots</a>
          </div>
        </div>
      </div>

    </div>

  </body>
</html>
