@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

* {
	box-sizing: border-box;
}

html, body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	margin: 0;
	padding: 0;
}

ul {
	padding-left: 30px;
  margin: 8px 0px;
  list-style: none;
}

li::before {
  content: "•";
  color: #d46f5f;
  font-size: 130%;
  vertical-align: middle;
  font-weight: bold;
  padding-right: 9px;
  margin-left: -20px;
}

li {
  line-height: 140%;
  margin-bottom: 10px;
}

.item .tag {
  font-size: 13px;
  font-weight: normal;
  color: #484848;
  padding: 3px 5px 4px 5px;
  border-radius: 3px;
  background-color: #cee0ed;
  margin: 0px 4px 4px 0;
  white-space: nowrap;
  display: inline-block;
}

.item .title {
	font-size: 17px;
  font-weight: 600;
  /* font-style: italic; */
  margin: -3px 0 5px 0;
}

.item .desc {
	margin: 0 0 8px 0;
}

.item .platform {
	font-size: 15px;
  font-weight: 100;
  margin: 0 0 10px 0;
}

.item .install {
	margin: 0 0 5px 0;
}

.item .install::before {
	margin: 0 10px 0 0;
    display: inline-block;
    content: "Install: ";
    font-weight: 600;
}

.item .issues::before {
	margin: 0 10px 0 0;
    display: inline-block;
    content: "Issues: ";
    font-weight: 600;
}

.item .demo {
  margin: 5px 0 0 0;
}

.item {
	display: grid;
	grid-template-columns: 320px auto;
	border-bottom: 1px solid #c523005e;
	padding-bottom: 50px;
	min-height: 192px; /* so image fits to full height */
  overflow: hidden;
}

.item:last-of-type {
	border-bottom: 0;
}

.item .img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.item img {
	box-sizing: content-box;
	width: auto;
  height: 212px;
	/*transform: matrix(1.00,0.00,0.1,1.00,0,0);*/
	/*box-shadow: 1px 1px 34px -6px rgba(39, 0, 0, 0.2);
	box-shadow: 8px 9px 20px -6px rgba(39, 0, 0, 0.2);
	box-shadow: 11px 14px 25px -6px rgba(39, 0, 0, 0.3);*/
	border-radius: 2px;
	/*border: 1px solid #cccccc;*/
  box-sizing: border-box;

}

.item .content {
	margin: 0 0 0 30px;
}

.item .tags {
	margin: 0 0 16px 0;
}

.page {
	max-width: 875px;
	margin: 0 auto;
	padding: 40px 20px 10px;
	display: grid;
	grid-row-gap: 20px;
}

a, a:visited {
  color: #b93924;
  transition: background-color .2s, color .2s;
  text-decoration: none;
}

.demo a, .demo a:visited {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: #b93924;
  font-size: 15px;
  opacity: .9;
  margin-top: 10px;
}

.demo a:hover {
  /* background-color: #de715f; */
}

.header-wrapper {
	background-color: #d46f5f;
}

.header {
	max-width: 875px;
  margin: 0 auto;
  padding: 40px 20px 30px;
  color: white;
  font-weight: 100;
  font-size: 18pt;
  box-sizing: border-box;
}

.header .overview {
  font-size: 17px;
  margin: 0 0 24px -10px;

}

.header-wrapper.about-me {
	background-color: #efefef;
}

.header-wrapper.about-me .header {
	color: black;
}

.header .links {
  margin: 15px 0 24px 0;
}

  .header .links a {
  	white-space: nowrap;
    text-decoration: none;
    padding: 0;
    fill: #000;
    color: #000;
    transition: background-color .2s;

    padding: 4px 8px 5px;
    border-radius: 5px;
    background-color: white;
    background-color: #ffe7e3;
    margin: 3px;
    display: inline-block;
    line-height: 14px;
    font-weight: normal;
  }

  .header .links a svg {
    height: 17px; 
    width: 18px;
    vertical-align: middle;
    padding: 2px 0 2px;
  }

  .header .links a span {
    font-size: 14px;
    text-decoration: none;
    padding: 0px 5px 0px 8px;
  }

  .header .links a:hover {
    background-color: #fff;
  }

  .header .links .icon-map {
    height: 18px;
    padding: 2px 0 1px;
  }

  .header .links .icon-git {
  	height: 18px;
    padding: 2px 0 1px;
  }

  .header .links .icon-so {
  	height: 18px;
    padding: 2px 0 1px;
  }

  .header .links .icon-email {
  	height: 15px;
    padding: 2px 0 1px;
  }



h1 {
  font-size: 32px;
 	font-weight: 400;
  margin: 0 0 15px 0;
  color: #fff;
}

h2 {
  font-size: 17px;
  font-weight: 100;
  margin: 0 0 10px 0;
}

.no-line-break {
  white-space: nowrap;
}

h3 {
  font-size: 22px;
 	font-weight: 400;
  margin: 0 0 15px 0;
  color: #353535;
}



@media only screen and (max-width: 900px) {

  .page {
    padding-left:20px;
    padding-right:20px;
  }

}



@media only screen and (max-width: 800px) {

  .item img {
    width: auto;
    height: 190px;
  }

  .item {
  	grid-template-columns: 220px auto;
  }

  .page {
  	padding-bottom:0px;
  }

}

@media only screen and (max-width: 650px) {

  .item img {
    height: 180px;
  }

  .item {
    grid-template-columns: 160px auto;
  }

  .item .title {
    margin-bottom:0px;
  }

  .item .content {
    margin-left: 25px;
  }

}

@media only screen and (max-width: 550px) {
	
  .item img {
    height: 100px;
  }

  .item {
    grid-template-columns: 80px auto;
  }

  .item .tag {
  	font-size: 12px;
  }

}