@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

* {
	box-sizing: border-box;
}

html, body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	margin: 0;
	padding: 0;
	min-width: 280px;
}

ul {
	padding-left: 30px;
  margin: 8px 0px;
  list-style: none;
}

li::before {
  content: "•";
  color: #d46f5f;
  font-size: 130%;
  vertical-align: middle;
  font-weight: bold;
  padding-right: 9px;
  margin-left: -20px;
}

li {
  line-height: 140%;
  margin-bottom: 10px;
}

.item {
	display: grid;
	grid-template-columns: 320px auto;
	grid-template-rows: repeat(5, auto);
	column-gap: 20px;
	border-bottom: 1px solid #c523005e;
	padding-bottom: 50px;
  overflow: hidden;
}

.item:last-of-type {
	border-bottom: 0;
  padding-bottom: 0;
}

.item .tag {
  font-size: 13px;
  font-weight: normal;
  color: #484848;
  padding: 3px 5px 4px 5px;
  border-radius: 3px;
  background-color: #cee0ed;
  margin: 0px 4px 4px 0;
  white-space: nowrap;
  display: inline-block;
}

.item .title {
	font-size: 17px;
  font-weight: 600;
  margin-top: -3px;
  padding: 0 0 5px 0;
	/* background-color: red; */
}

.item .desc {
	margin: 16px 0 0 0;
}

.item .desc p {
	margin: 0 0 8px 0;
}

.item .desc a.demo {
	border: solid 1px #b93924;
	border-radius: 3px;
	padding: 2px 10px 3px;
	display: block;
	margin: 0 0 8px 0;
  width: max-content;
}
.item .desc a.demo:hover {
	background-color: #fbece9;
	transition: background-color .2s, color .2s;
}


.item .platform {
	font-size: 15px;
  font-weight: 100;
  margin: 0 0 10px 0;
  /* background-color: red; */
}

.item .tags {
	/* background-color: red; */
}

.item .install {
	margin: 0 0 5px 0;
}

.item .install::before {
	margin: 0 10px 0 0;
	display: inline-block;
	content: "Install: ";
	font-weight: 600;
}

.item .issues::before {
	margin: 0 10px 0 0;
	display: inline-block;
	content: "Issues: ";
	font-weight: 600;
}

.item .img {
	grid-column: 1;
	grid-row: span 4;
  width: 100%;
  height: 100%;
  overflow: hidden;
	box-shadow: 7px 11px 15px -7px rgba(39, 0, 0, 0.3);
  max-height: 212px;
  border-radius: 4px;
}

.item .img img {
	width: auto;
	max-height: 213px;
}

.page, .header {
  padding: 40px 50px 30px;
}

.page {
	max-width: 875px;
	margin: 0 auto;
	display: grid;
	grid-row-gap: 20px;
}

a, a:visited {
  color: #b93924;
  transition: background-color .2s, color .2s;
  text-decoration: none;
}

.header-wrapper {
	background-color: #d46f5f;
}

.header {
	max-width: 875px;
  margin: 0 auto;
  color: white;
  font-weight: 100;
  font-size: 18pt;
  box-sizing: border-box;
}

.header .overview {
  font-size: 17px;
  margin: 0 0 24px -10px;
}

.header-wrapper.about-me {
	background-color: #efefef;
}

.header-wrapper.about-me .header {
	color: black;
}

.header .links {
  margin: 15px 0 24px 0;
}

  .header .links a {
  	white-space: nowrap;
    text-decoration: none;
    padding: 0;
    fill: #000;
    color: #000;
    transition: background-color .2s;

    padding: 4px 8px 5px;
    border-radius: 5px;
    background-color: white;
    background-color: #ffe7e3;
    margin: 3px;
    display: inline-block;
    line-height: 14px;
    font-weight: normal;
  }

  .header .links a svg {
    height: 17px; 
    width: 18px;
    vertical-align: middle;
    padding: 2px 0 2px;
  }

  .header .links a span {
    font-size: 14px;
    text-decoration: none;
    padding: 0px 5px 0px 8px;
  }

  .header .links a:hover {
    background-color: #fff;
  }

  .header .links .icon-map {
    height: 18px;
    padding: 2px 0 1px;
  }

  .header .links .icon-git {
  	height: 18px;
    padding: 2px 0 1px;
  }

  .header .links .icon-so {
  	height: 18px;
    padding: 2px 0 1px;
  }

  .header .links .icon-email {
  	height: 15px;
    padding: 2px 0 1px;
  }

h1 {
  font-size: 32px;
 	font-weight: 400;
  margin: 0 0 15px 0;
  color: #fff;
}

h2 {
  font-size: 17px;
  font-weight: 100;
  margin: 0 0 10px 0;
}

.no-line-break {
  white-space: nowrap;
}

h3 {
  font-size: 22px;
 	font-weight: 400;
  margin: 0 0 15px 0;
  color: #353535;
}


@media only screen and (max-width: 900px) {

	.item {
		grid-template-columns: 260px auto;
	}

  .item .img,
  .item .img img {
  	max-height: 173px;
  }

}


@media only screen and (max-width: 800px) {

  .page, .header {
    padding: 40px 40px 30px;
  }

}


@media only screen and (max-width: 700px) {

  .page, .header {
    padding: 40px 30px 30px;
  }

	.item {
		grid-template-columns: 160px auto;
	}

	.item .img,
	.item .img img {
 		max-height: 150px;
	} 

}


@media only screen and (max-width: 550px) {

  .page, .header {
    padding: 40px 20px 30px;
  }

	.item {
		grid-template-columns: auto;
		padding-bottom: 40px;
	}

  .item:last-of-type {
    padding-bottom: 0;
  }

	.item .img {
		grid-row: 1;
		margin-bottom: 24px;
		border: solid 1px #d6d6d6;
		max-height: 150px;
		max-width: 370px;
		width: calc(100% - 15px); /* ensure shadow isn't cut off */
  }

  .item .desc {
		grid-column: 1;
  }

  .item .img img {
 		max-height: unset;
    width: 100%;
	} 
	
}